* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

body::selection {
    background-color: #888888;
}

.modal {
    width: 100%;
    backdrop-filter: blur(10px);
    position: fixed;
    height: 100%;
    z-index: 10;
    display: none;
}

form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 23px;
    background-color: #ffffff;
    max-width: 400px;
    flex-direction: column;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

form h2 {
    font-size: 35px;
    margin-bottom: 23px;
    color: #29292942;
}

.inside-form {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.inside-form input {
    min-height: 30px;
    border-radius: 5px;
    border:1px solid rgba(0, 0, 0, 0.225) ;
    padding: 10px 4px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

.inside-form button {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.225);
    border-radius: 5px;
    color: #292929c8;
    padding: 10px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

header {
    background-color: rgb(29, 29, 29);
    padding: 15px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo img {
    width: 30px;
    height: auto;
    filter: invert(100%);
}

header a {
    text-decoration: none;
    color: #ffffff;
}

.first-list li a:hover {
    color: rgba(191, 191, 191, 0.372);
}

.first-list {
    display: flex;
    list-style: none;
    gap: 30px;

}

.first-list li {
    position: relative;

}

.first-list li a {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0;
    display: inline-block;
}

.first-list ul a {
    margin: 0 10px;
    display: block;
    transition: all 0.3 ease;
}

.first-list ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    margin: 0px;
    background: rgb(29, 29, 29);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: all 0.4s ease;
    z-index: 5;
    pointer-events: none;
}

.first-list li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
}

.phone-wrapper a {
    display: flex;
    align-items: center;
    gap: 7px;
}

.phone-wrapper img {
    width: 18px;
    height: auto;
    filter: invert(100%);
}

.phone-wrapper a:hover {
    color: rgba(191, 191, 191, 0.372);
}

.call-me {
    border: 1px solid white;
    background-color: rgb(29, 29, 29);
    border-radius: 20px;
    padding: 5px 35px;
}

.call-me:hover {
    color: rgba(191, 191, 191, 0.372);
}

.right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.slider-container {
    overflow: hidden;
    margin-bottom: -30px;
}

.slider {
    display: flex;
    width: 300%;
    transition: all 0.6s ease;
}

.slide {
    /*flex: 1 чтобы этот слайд занимал одну треть*/
    flex: 1;
    background-image: url(imgs/flat1.jpg);
    background-size: cover;
    background-position: center;
}

.slide h2 {
    font-size: 60px;
    color: #ffffff;
    line-height: 48px;
    text-shadow: 2px 8px 15px rgba(0, 0, 0, 0.673);
    margin-top: 70px;
    max-width: 700px;
}

.slide p {
    background-color: rgba(0, 0, 0, 0.592);
    color: #ffffff;
    border-radius: 8px;
    margin: 50px 0;
    max-width: 700px;
    padding: 20px;
}

.slide a {
    display: inline-block;
    text-decoration: none;
    color: #292929;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 7px 25px;
    margin-bottom: 50px;
    box-shadow: 2px 8px 30px rgba(0, 0, 0, 0.27);
    transition: all 0.3s ease;
}

.slide a:hover {
    transform: translateY(-15%);
}

.slider-buttons {
    text-align: center;
    transform: translateY(-50%);
}

#right-b:hover {
    transform: translateY(-15%);
}

.slider-buttons a {
    text-decoration: none;
    background-color: #ffffff;
    color: #292929;
    border-radius: 20px;
    font-size: 20px;
    display: inline-block;
    box-shadow: 2px 8px 30px rgba(0, 0, 0, 0.27);
    background-image: url(imgs/rightArrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 80px;
    background-size: 20%;
    transition: all 0.3s ease;
}

.slider-buttons::selection {
    background-color: #00000000;
}

#left-b {
    /* переворачивает по горизонтали */
    transform: scaleX(-1);
}

#left-b:hover {
    transform: translateY(-15%) scaleX(-1);
}

.guests-beds img {
    width: 20px;
}

.card>img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#flats h2 {
    text-align: center;
    color: #292929;
    margin: 30px;
}

.all-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    gap: 20px;
}

.card {
    width: calc((100% - 40px) / 3);
    box-shadow: 2px 8px 30px rgba(0, 0, 0, 0.225);
}

.card-info {
    background-color: #ffffff;
    padding: 0px 17px;
    color: #292929;
}

.guests-beds {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
}

.guests-beds div {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 10px;
    color: #292929;
}

.card-info img {
    opacity: 0.9;
}

#comments h2 {
    text-align: center;
    color: #292929;
    margin: 30px;
}

.all-comm {
    display: none;
    justify-content: space-between;
    gap: 20px;
    opacity: 0;
    transition: 0.3s;
}

.visible {
    display: flex;
}

.opaque {
    opacity: 1;
}

.comment {
    background-color: #ffffff;
    box-shadow: 2px 8px 30px rgba(0, 0, 0, 0.225);
    padding: 20px;
    flex: 1;
}

.comment img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.comment div {
    display: flex;
    gap: 10px;
}

.comment>p {
    margin-bottom: 30px;
}

.comment-info {
    display: flex;
    flex-direction: column;
    line-height: 0.9;
    justify-content: center;
}

.comment-info p {
    font-size: 14px;
}

.comment-info h4 {
    font-size: 15px;
}

#comments .slider-buttons {
    transform: none;
    margin: 30px 0;
}

#comment-left {
    transform: scaleX(-1);
}

#comment-left:hover {
    transform: translateY(-15%) scaleX(-1);
}

#comment-right:hover {
    transform: translateY(-15%);
}

footer {
    background: rgb(29, 29, 29);
    color: #ffffff;
}

footer img {
    filter: invert(100%);
    width: 20px;
}

footer .container {
    padding: 30px;
}

footer a:hover {
    color: rgba(191, 191, 191, 0.372);
}

.logo img {
    width: 30px;
    height: auto;
    filter: invert(100%);
}

.left a {
    text-decoration: none;
    color: white;
}

.social-media {
    display: flex;
    gap: 30px;
    justify-content: end;
    margin-top: 20px;
}

.phone-wrapper {
    display: flex;
    gap: 7px;
}

.phone-wrapper a {
    text-decoration: none;
    color: #ffffff;
}

.phone-wrapper a:hover {
    color: rgba(191, 191, 191, 0.372);
}

.location {
    display: flex;
    gap: 7px;
}

.left-right {
    display: flex;
    justify-content: space-between;
}

.right {
    display: flex;
    gap: 60px;
}